#hero-section .row {
    height: 500px;
}

.bg-light-purple {
    background-color: #F1F3FF;
}

.btn-green {
    padding: 10px 12px;
    background-color: #5CB85F;
    border-radius: 8px;
}

.car {
    position: absolute;
    width: 50%;
    height: auto;
    bottom: 0;
    right: 0;
    background-position-y: 100px;
    /* border-top-right-radius: 100px; */
    border-bottom-width: 10px;
} */

.car-style {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 300px;
    background-color: #0D28A6;
    width: 50%;
    border-top-left-radius: 100px;
    
}